* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: montserrat, sans-serif;
}

body {
    font-size: 16px;
    color: #fff;
    overflow: hidden;
}

header {
    z-index: 3;
    width: 90%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
    align-items: center;

    & img {
        width: 100px;
        margin-top: 15px;
        padding-top: 1px;
    }

    & nav {
        & .menu-mobile {
            display: none;
        }

        & ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            & li {
                & a {
                    color: #fff;
                    border-bottom: 2px solid transparent;
                    padding: 0 10px;
                    display: inline-block;
                    transition: 0.5s linear ;
                    &:hover {
                        border-bottom: 2px solid #000;
                    }
                }
            }
        }
    }
}

section {
    background-image: radial-gradient(#068ae2, #020088);
    position: relative;

    & .list {
        width: 70vw;
        margin: auto;
        height: 100vh;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .area-car {
                position: absolute;
                top: 50%;
                transform: translate(-10px, -50%);
                width: 70%;

                & img {
                    width: 90%;
                    transform: rotate(-20deg);
                }

                &::before {
                    content: '';
                    position: absolute;
                    background-color: #000;
                    width: 100%;
                    height: 100px;
                    top: 130%;
                    left: 50px;
                    border-radius: 50%;
                    filter: blur(60px);
                }
            }

            & .content {
                position: absolute;
                width: 70%;
                right: 70px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;

                & .car-information {
                    font-weight: bold;
                }

                & h2 {
                    font-family: 'league gothic', sans-serif;
                    font-size: 3.5em;
                    line-height: 1em;
                    margin-top: 0.9em;
                    letter-spacing: 2px;
                }

                & .description {
                    color: #e9e9e9;
                    font-size: 12px;
                    text-align: right;
                    max-width: 400px;
                }

                & .information {
                    border-radius: 20px;
                    height: 35px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 1px solid rgb(2, 0, 136);
                    background-color: #000;
                    color: #fff;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            height: 200px;
            width: 100%;
            top: 50%;
            border-top: 1px solid #fff;
        }
    }

    .indicators {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 12px;

        & .number {
            font-size: 4em;
            font-family: league gothic, sans-serif;

        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 40px;
                height: 4px;
                background-color: #000;
                border-radius: 3px;
                transition: 0.5s;
            }

            & .active {
                background-color: #fff;
            }
        }
    }

    .arrows {
        width: 100vw;
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -21px);
        display: flex;
        justify-content: space-around;
        gap: 530px;

        & button {
            top: 60%;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            background-color: #fff;

            & img {
                margin-top: 4px;
                width: 20px;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.15);
            }
        }

        & button:nth-child(1) {
            transform: scale(-1);
        }

    }
}


& section {
    & .list {
        --calculation: 1;

        & .item {
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 1s;
            opacity: 0;

            & .area-car {
                & img {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.5s;
                }
            }
        }

        & .content {

            & .car-information,
            h2,
            .description,
            .information {
                transform: translateX(calc(200px * var(--calculation)));
                transition: 0.7s;
                transition-delay: 0.5s;
                opacity: 0;
            }

            & h2 {
                transition-delay: 0.5s;
            }

            &.description {
                transition-delay: 0.7s;
            }

            &.information {
                transition-delay: 0.9s;
            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

            & .area-car {
                & img {
                    transform: rotate(-20deg);
                }
            }

            & .car-information,
            h2,
            .description,
            .information {
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1160px) {
    & section {
        & .arrows {
            gap: 430px;
        }
    }
}

@media (max-width: 900px) {
    header {
        gap: 0;
    }

    .description {
        width: 250px;
        margin-top: 10px;
        margin-right: -75px;
    }

    & section {
        & .arrows {
            gap: 300px;
        }

        & .list {
            & .item {
                & .content {
                    & h2 {
                        width: 200px;
                        margin: 67px -50px 0 0;
                        text-align: end;
                    }
                }
            }
        }
    }
}

@media (max-width: 690px) {
    body {
        font-size: 13px;
    }

    & section {
        & .arrows {
            gap: 250px;
        }

        & .list {
            & .item {
                & .content {
                    & h2 {
                        width: 200px;
                        margin: 80px -50px 0 0;
                        text-align: end;
                        font-size: 2.5em;
                    }
                }
            }
        }

        & .arrows {
            & button {

                & img {
                    width: 10px;
                }
            }
        }

        & .list {
            & .item {
                & .content {
                    & .description {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 460px) {
    header {
        width: 100vw;

        & nav {
            transition: 0.5s;
            & .menu-mobile {
                display: flex;
                flex-direction: column;
                gap: 7px;

                & .menu-edit {
                    width: 3em;
                    height: 3px;
                    background-color: #fff;
                    border-radius: 25px;
                }
            }

            & ul {
                display: flex;
                visibility:collapse;
                flex-direction: column;
                gap: 40px;
                position: absolute;
                background: rgba(2, 0, 136, 0.7);
                opacity: 0;
                left: 50%;
                right: 0;
                text-align: center;
                transition: 0.7s;
                padding: 20px;
                border-radius: 10px;
                & li {
                    transition: 0.5s;
                    & a {
                        padding: 0 10px;
                        display: inline-block;
                        transition: 0.5s linear ;
                        &:hover {
                            border-bottom: 2px solid #000;
                        }
                    }
                }
            }
        }
    }
    section {
        & .list {
            & .item {
                & .content {
                    gap: 0;
                    & .description {
                        width: 150px;
                    }
                    & .information {
                        font-size: 0.8em;
                        width: 80px;
                        height: 25px;
                        position: absolute;
                        top: 80%;
                        left: 80%;
                    }
                }
            }        
            & .active {
                & .area-car {
                    &::before {
                        height: 60px;
                        width: 40%;
                        filter: blur(40px);
                        left: 10px;

                    }

                    & img {
                        width: 75%;
                        transform: rotate(-35deg);
                    }
                }
            }
        }

        & .indicators {
            & .number {
                font-size: 3em;
            }

            & ul {
                & li {
                    width: 25px;
                }
            }
        }

        & .arrows {
            gap: 150px;
        }
    }

        section {
            & .list {
                & .item {
                    & .content {
                        & .car-information {
                            height: 100px;
                            align-content: end;
                        }
                        & h2 {
                            margin: 0 -45px 10px 0;
                            font-size: 2em;
                        }
                    }
                }

            }
        }
    }